*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body{
	font: 300 16px/1.5 $font-main;
	color: $color-text;
	background-color: #fff;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:active,
	&:visited {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}


.btn {
	height: 52px;
	padding: 1rem 28px;
	border: 1px solid $color-text;
	background: transparent;
	color: $color-text;
	display: inline-block;
	font: bold 1rem/1 $font-main;
	text-align: center;
	border-radius: 4px;
	transition: all .3s;
	cursor: pointer;
	outline: none;

	&:hover {
		color: $color-pure;
		background: $color-text;
	}
}

.btn-primary {
    height: 52px;
    padding: 1rem 28px;
    border: 1px solid $color-bright;
    background: $color-bright;
    color: $color-pure;
    display: inline-block;
    font: bold 1rem/1 $font-main;
    text-align: center;
    border-radius: 4px;
    transition: all .3s;
    cursor: pointer;
    outline: none;

	&:hover {
		color: $color-bright;
		background: $color-pure;
	}
}

.nav {
	padding-top: 45px;
	background: $color-pure;

	.container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
}

.logo {
	height: 45px;
}

.nav-logo {
	display: flex;
}

.nav-links {
	a {
		font: 500 1rem/1.25 $font-main;
		margin: 0 16px;
		display: inline-block;
		transition: all .3s;

		&:hover {
			color: $color-bright;
		}

		&:last-child {
			margin-right: 0;
		}
	}

}

.map-container {
	position: relative;
	width: 100%;
	margin-top: 40px;
	height: calc(100vh - 137px);
	min-height: 762px;

}

.map {
	background: url("../images/map.jpg") no-repeat left 90px;
	background-size: cover;
	min-height: 762px;
	height: inherit;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.h1 {
	font: bold 36px/1.25 $font-main;
	color: $color-text;
}

.contacts-form {
	margin: 0 0 0 auto;
	width: 416px;
	background: $color-pure;
	padding: 36px 48px 40px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
	border-radius: 8px 8px 0 0;
	position: relative;
	height: calc(100vh - 137px);
	min-height: 762px;
	z-index: 10;
}

.submit-success {
	display: none;
}


.form {
	.h1 {
		margin: 0 0 36px;
	}

	label.error {
		position: absolute;
		top: 0;
		right: 0;
		font: bold 12px/1 $font-main;
		letter-spacing: 0;
		color: $color-bright;
		display: none;
		text-transform: none;
	}

	.input.error {
		border-color: $color-bright !important;
	}

	.form-field {
		margin-bottom: 28px;
		position: relative;


		.error-msg  {
			position: absolute;
			top: 0;
			right: 0;
			font: bold 12px/1 $font-main;
			color: $color-bright;
		}
	}

	.label {
		display: block;
		font: bold 12px/1 $font-main;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		color: #484848;
		margin-bottom: 8px;
	}

	.select,
	.input {
		height: 48px;
	}

	.textarea {
		height: 115px;
		resize: none;
	}

	.select,
	.input,
	.textarea {
		border: 1px solid $color-border;
		border-radius: 4px;
		padding: 14px 16px;
		font: normal 1rem/1 $font-main;
		color: $color-text;
		display: block;
		width: 100%;
		outline: none;

		&::placeholder {
			font: normal 1rem/1 $font-main;
			color: $color-muted;
		}
	}

	.input,
	.textarea {
		&:focus {
			padding-left: 15px;
			border-left: 2px solid $color-focus;
		}
	}

  .btn {
	width: 100%;

	&.loading {
	  background: $color-bright !important;

	  .text {
		  display: none;
	  }

	  .loader {
		  display: inline-block;
	  }
	}
  }
}


.contacts-info {
	font: 500 14px/24px $font-main;
	display: inline-block;
	padding: 41px 32px;
	background: rgba($color-pure, .45);
	backdrop-filter: blur(8px);
	border-radius: 0 8px 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;

	.item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&:not(:last-child) {
			margin-bottom: 33px;
		}
	}

	.icon {
		height: 32px;
		width: 32px;
		margin-right: 24px;
	}
}

.submit-success {
	text-align: center;
	padding-top: 110px;

	.h1 {
		padding: 40px 0 26px;
	}

	.btn {
		margin-top: 60px;
		width: 100%;
	}
}

.loader {
	display: none;
	height: 24px;
	width: 24px;
	background: url("../images/loader.svg") no-repeat center center;
	background-size: contain;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.hide {
	display: none !important;
}

//====== Custom Select =============
.custom-select {
	position: relative;

	.custom-select select {
		display: none;
	}

	.select-selected {
		background-color: transparent;;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}


	.select-selected:after {
		content: url("../images/icon-select-arrow.svg");
		display: block;
		position: absolute;
		right: 15px;
		top: 35%;
		transform: rotate(180deg);
	}


	.select-selected.select-arrow-active:after {
		transform: rotate(0deg);
		top: 25%;
	}

	.select-items div, .select-selected {
		border: 1px solid $color-border;
		border-radius: 4px;
		padding: 14px 16px;
		font: normal 1rem/1 $font-main;
		color: $color-text;
		display: block;
		width: 100%;
		outline: none;
		cursor: pointer;
		user-select: none;
	}

	.select-selected.select-arrow-active {
		padding-left: 15px;
		border-left: 2px solid $color-focus;
	}

	.select-items {
		position: absolute;
		background-color: #fff;
		border: 1px solid #EBEBEB;
		box-shadow: 0 15px 46px rgba(26, 26, 29, 0.12);
		border-radius: 0;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;

		div {
			margin: 0;
			border-radius: 0;
			border: none;
			background-color: #fff;
			transition: background-color 0.3s;

			&:hover {
				background-color: #F6F6F6;
				color: $color-focus;
			}

			&.same-as-selected {
				background-color: rgba(#7D77E9, 0.3);
			}
		}
	}

	.select-hide {
		display: none;
	}
}


@media screen and (max-width: 1199px) {
	.container {
		max-width: 90%;
	}

	.map {
		background-position-x: 50%;
	}
}


@media screen and (max-width: 919px) {
	.nav {
		padding-top: 25px;
	}

	.container {
		max-width: 90%;
	}

	.nav-links a {
		margin: 0 6px;
	}

	.logo {
		height: 40px;
	}

	.btn-primary {
		height: 48px;
		padding: 14px 20px;
	}

	.h1 {
		font-size: 28px;
	}

	.map-container {
		height: calc(100vh - 113px);
	}

	.contacts-form {
		height: inherit;
		min-height: initial;
	}

}


.nav-toggle {
	display: none;
	position: absolute;
	top: 1.75rem;
	right: 1.5rem;
	z-index: 999;
	background: url("../images/nav.svg") no-repeat center center;
	background-size: contain;
	height: 2rem;
	width: 2rem;

	&.active {
		background-image: url("../images/close.svg");
	}
}

@media screen and (max-width: 767px) {
	.nav-links {
		padding: 3.5rem 2rem;
		width: 210px;
		min-height: 100vh;
		position: fixed;
		top: 0;
		right: -210px;
		z-index: 990;
		background: $color-pure;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
		transition: all .5s;

		&.active {
			right: 0;
		}

		a {
			display: block;
			width: 100%;
			margin: 0 0 1.5rem;
		}
	}


	.nav-toggle {
		display: block;
	}

	.contacts-form {
		margin: 0 auto;
		max-width: 100%;
		padding: 2rem 1.5rem;
		box-shadow: none;
	}

	.map-container {
		height: auto;
	}
	
	.map {
		position: relative;
		min-height: initial;
		height: 600px;
		background-position-x: 30%;
	}

	.contacts-info {
		left: auto;
		right: 0;
		z-index: 100;
	}

	.submit-success {
		padding-top: 0;
	}
}
